* {
    font-size: 20px;
  }

:root {
    --light: #f3abb6; 
    --dark: #9f8189;
    --highlight: #ffe5d8;
  }

body {
    background-color: var(--light);
}

header {
    width: 100%;
    text-align: center;
    flex-direction: column;
}

h1 {
    font-size: 250%;
    background-color: var(--dark);
    color: var(--light);
    padding: 10px;
}

nav ul {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    text-decoration: underline;
    padding-right: 15px;
    list-style-type: none;
}

#navcontainer a {
    display: block;
    width: 120px;
    text-decoration: none;
}

header a {
    font-size: 25px;
    color: #ffcad4;
}

a:hover {
    color: var(--dark);
}

a:active {
   opacity: 0.5; 
}

.hero {
    background-image: url("../images/DSC00591.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 300px;
    
}

.hero img {
    width: 250px;
    height: 250px;
    border: #9f8189;
    border-color: var(--light);
    border-radius: 1000px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 10px;
}

.hero h2{
    font-size: 165%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    color: var(--dark);
    text-shadow: 2px 2px var(--light);
}

/* About me */
main {
    display: flex;
    flex-direction: column;
}

main h2 {
    font-size: 200%;
    border-bottom: solid var(--dark);
    margin: 20px;
    color: var(--dark);
}

main p {
    margin: 0px 20px;
    line-height: 1.5;
    color: var(--dark);
}

/* work */

.mywork {
    display: flex;
    flex-direction: column;
}

.mywork h2 {
    font-size: 200%;
    border-bottom:  solid var(--dark);
    margin: 20px;
    color: var(--dark);
    display: block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

/* images */

.container img {
    height: 320px;
    width: 410px;
    flex: 0 0 90%;
    margin: 8px;
    cursor: pointer;
}

img:hover {
    opacity: 0.8;
}

img:active {
    box-shadow: 2px 2px 5px var(--dark);
}

/* footer */
footer h2 {
    font-size: 200%;
    border-bottom: solid var(--dark);
    margin: 20px;
    color: var(--dark);
    text-shadow: 2px 2px var(--light);
}

footer {
    padding-bottom: 20px;
}
  
footer li {
    margin-left: 8px;
    list-style-type: none;
}

footer a {
    color: #ffcad4;
}
  
  
  /*--------- Media queries for Medium size/tablet -------------------------------------------------- */
@media screen and (min-width: 576px) {
    .hero h2 {
        text-align: inherit;
        padding-right: 10px;
        margin-left: 50px;
    }
    .hero img {
        display: block;
        height: 250px;
        opacity: 1;
      }}
  
    footer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    footer li {
        flex-grow: 1;
    }
  
  @media screen and (min-width: 992px) {
    header {
        height: 130px;
        background-color: var(--light);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header h1 {
        margin-top: 0px;
        padding-left: 20px;
    }
    header ul {
        margin-right: 20px;
    }
    .hero {
        padding-right: 20px;
    }
  
    /* About me */
    main {
        flex-direction: row;
        margin: 20px 0px;
    }
    
    main h2 {
        border-right: solid var(--dark);
        padding-right: 10px;
        padding-left: 29px;
        border-bottom: hidden;
        text-align: right;
    }
    
    /* work section */
    
    .mywork {
        flex-direction: row;
        margin: 30px 0px;
    }
    
    .mywork h2 {
        border-right: solid var(--dark);
        padding-left: 46px;
        padding-right: 9.5px;
        border-bottom: hidden;    
        text-align: right;
    }
    /* footer */
    footer {
        display: flex;
    }
    footer h2 {
        border-right: solid var(--dark);
        padding-right: 10px;
        border-bottom: hidden;
        text-align: right;
        margin-left: -1.35%;
        left: 10px;
    }
    footer ul {
        flex-basis: 100%;
    }
  }
  @media screen and (min-width: 1400px) {
    main div {
        display: flex;
        flex-direction: row;
    }
  }
  
  