* {
    font-size: 20px;
  }

:root {
    --light: #f3abb6; 
    --dark: #9f8189;
    --highlight: #ffe5d8;
  }

body {
    background-color: var(--light);
}

header {
    width: 100%;
    text-align: center;
    flex-direction: column;
}

h1 {
    font-size: 250%;
    background-color: var(--dark);
    color: var(--light);
    padding: 10px;
}

nav ul {
    /* position: sticky; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: var(--light); */
    text-decoration: underline;
    padding-right: 15px;
    list-style-type: none;
}

#navcontainer a {
    display: block;
    width: 120px;
    text-decoration: none;
}

header a {
    font-size: 25px;
    color: #ffcad4;
}

.hero {
    background-image: url("../images/DSC00591.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 300px;
    
}

.hero img {
    width: 250px;
    height: 250px;
    border: #9f8189;
    border-color: var(--light);
    border-radius: 1000px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 10px;
}

.hero h2{
    font-size: 250%;
    text-align: center;
    margin-bottom: 20px;
    color: var(--dark);
    text-shadow: 2px 2px var(--light);
}

/* About me */
main {
    display: flex;
    flex-direction: column;
}

main h2 {
    font-size: 200%;
    border-bottom: solid var(--dark);
    margin: 20px;
    color: var(--dark);
}

main p {
    margin: 0px 20px;
    line-height: 1.5;
    color: var(--dark);
}

/* work */

.mywork {
    display: flex;
    flex-direction: column;
}

.mywork h2 {
    font-size: 200%;
    border-bottom:  solid var(--dark);
    margin: 20px;
    color: var(--dark);
}

.container {
    display: flex;

}
/* images */

.container img {
    height: 300px;
    flex: 0 0 90%;
    margin: 8px;
    cursor: pointer;
}



/* footer */
footer h2 {
    font-size: 200%;
    border-bottom: solid var(--dark);
    margin: 20px;
    color: var(--dark);
  }
  footer {
    padding-bottom: 20px;
  }
  footer li {
    margin-left: 8px;
    list-style-type: none;
  }
  footer a {
    color: var(--dark);
  }
  
  